:root{
  --primary-clr: #9dad7f;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c7cfb7;
}

.container{
  position: relative;
  width: 1200px;
  min-height: 850px;
  margin: 0 auto;
  padding: 5px;
  color: #2e3a3c;
  display: flex;
  border-radius: 10px;
  background-color: #557174;
}

.left{
  width: 90%;
  padding: 20px;
}

.calendar{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #f7f7e8;
}

.calendar::before,
.calendar::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 12px;
  height: 97%;
  border-radius: 0 5px 5px 0;
  background-color: #90B8BDFF;
  transform: translateY(-50%);
}

.calendar::before{
  height: 94%;
  left: calc(100% + 12px);
  background-color: #789A9EFF;
}

.calendar .month {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.calendar .month .prev,
.calendar .month .next {
  cursor: pointer;
}

.calendar .month .prev:hover,
.calendar .month .next:hover{
  color: var(--primary-clr);
}

.calendar .weekdays{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}

.calendar .weekdays div {
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.calendar .days .day {
  width: 14.28%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-clr);
  border: 1px solid #c7cfb7;
}

.calendar .day:not(.prev-date, .next-date):hover{
  background-color: var(--primary-clr);
  color: #ffffff;
}

.calendar .days .prev-date,
.calendar .days .next-date{
  color: #c5c5c5;
}

.calendar .days .active {
  position: relative;
  font-size: 2rem;
  color: #ffffff;
  background-color: var(--primary-clr);
}

.calendar .days .active::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 2px var(--primary-clr);
}

.calendar .days .today {
  font-size: 2rem;
}

.calendar .days .done {
  position: relative;
}

.calendar .days .done::after{
  content: '';
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 75%;
  height: 6px;
  border-radius: 30px;
  transform: translateX(-50%);
  background-color: var(--primary-clr);
}

.calendar .done:hover::after{
  background-color: #f7f7e8;
}

.calendar .active .done::after{
  background-color: #f7f7e8;
  bottom: 20%;
}

.calendar .active .done {
  padding-bottom: 10px;
}

.calendar .goto-today {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 0 20px;
  margin-bottom: 20px;
  color: var(--primary-clr);
}

.calendar .goto-today .goto {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--primary-clr);
}

.calendar .goto-today .goto input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  color: var(--primary-clr);
}

.calendar .goto-today button{
  padding: 5px 10px;
  border: 1px solid var(--primary-clr);
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  color: var(--primary-clr);
}

.calendar .goto-today button:hover{
  background-color: var(--primary-clr);
  color: #f7f7e8;
}

.calendar .goto-today .goto button {
  border: none;
  border-left: 1px solid var(--primary-clr);
  border-radius: 0;
}



